---
import Layout from '../../layouts/Layout.astro'
import { fetchItems } from '../../services/items'
import CardCatalog from '../../components/CardCatalog'
import { Pagination } from 'accessible-astro-components'


export async function getStaticPaths({ paginate }: { paginate: any }) {
    const items = await fetchItems()
    return paginate(items, { pageSize: 12})
}
let items : any
const { page } = Astro.props
const { data , url, currentPage, total, size } = page
if (!data) {
	throw new Error('No items found')
}

items = data
const { prev, next } = url
---

<Layout title="Muuch Maaya">
	<div class="grid gap-8">
		<div class="flex flex-col justify-center">
			<h1 class="text-4xl font-bold text-center text-gray-800 dark:text-white">Catálogo</h1>
			<p class="mt-4 text-center text-gray-600 dark:text-gray-100">Encuentra los productos que más te gusten</p>
		</div>
	</div>
	<div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
		{items.map(({id, name, price, image_url, category, unit}: {id:string, name: string, price: number, image_url: string, category: string, unit: string}) => (
			<CardCatalog 
				client:visible
				id={id}
				name={name}
				price={price}
				image={image_url}
				unit={unit}
				category={category}
			/>
		))}
	</div>
	<div class="mt-12 grid place-content-center dark:text-gray-200"> <!-- Cambiado a 5 columnas -->
        <Pagination
          firstPage={prev ? '/catalogo' : null}
          previousPage={prev ? prev : null}
          nextPage={next ? next : null}
          lastPage={next ? `/catalogo/${Math.round(total / size)}` : null}
          currentPage={currentPage}
          totalPages={Math.round(total / size)}
        />
      </div>
</Layout>
