---
import AddToTicketForm from './AddToTicketForm'
import type { TicketItemdisplayInfo } from '../ticketStore'
interface Props{
    name: string
    description: string
    price: number
    image: string | null
    id: string
    unit: string
    category: string
}

const { name, description, price, image, id , unit, category} = Astro.props

const item: TicketItemdisplayInfo = {
    id: id,
    name: name,
    price: price,
    quantity: 1
}

---

<div 
    class="rounded-lg border shadow-md bg-gray-800 broder-gray-700
    hover:scale-105 hover:bg-gray-700 hover:border-gray-500 transition flex 
    flex-col"
    >
    <picture class="flex justify-center p-4">
        <img src={image} alt={name} class="mb-5 rounded-lg" />
    </picture>
    <header class="p-4 flex-grow">
        <span 
            class:list={[
                "text-gray-900 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded",
                {
                    "bg-green-500": unit === 'CAJA ',
                    "bg-red-500": unit === 'PZA'
                }
            ]}
        >
        {price.toFixed(2)}
        </span>
        <span 
            class:list={[
                "text-xs font-semibold mr-2 px-2.5 py-0.5 rounded",
                {
                    "bg-green-500": unit === 'CAJA',
                    "bg-red-500": unit === 'UNIDAD'
                }
            ]
            }
        >
            {unit}
        </span>
        <h2 class="text-gray-900 my-2 text-2xl font-bold tracking-tight dark:text-white">
            {name}
        </h2>
        <p class="mb-4 font-light text-gray-400">
            {description}
        </p>
        <AddToTicketForm item={item} client:load>
            <button class="border px-4 py-2 text-xl" type="submit">-</button>
            <span>0</span>
            <button class="border px-4 py-2 text-xl">+</button>
        </AddToTicketForm>
        <a href={`/catalogo/${id}/`} class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
            Ver detalles
        </a>

    </header>
</div>