---
import { type Item2 } from "../types/api"
import { fetchOrder } from "../services/order"

let order : any 
const { items } = await fetchOrder()
order = items
---
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Producto
                </th>
                <th scope="col" class="px-6 py-3">
                    Cantidad
                </th>
                <th scope="col" class="px-6 py-3">
                    Unidad
                </th>
                <th scope="col" class="px-6 py-3">
                    Precio
                </th>
                <th scope="col" class="px-6 py-3">
                    Subtotal
                </th>
            </tr>
        </thead>
        <tbody>
                {
                order.map(({item, quantity, total_price}: {item: Item2, quantity: number, total_price:number}) => (
                <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {item.name}
                    </th>
                    <td class="px-6 py-4">
                        {quantity}
                    </td>
                    <td class="px-6 py-4">
                        {item.unit}
                    </td>
                    <td class="px-6 py-4">
                        ${total_price.toFixed(2)}
                    </td>
                    <td class="px-6 py-4">
                        ${total_price.toFixed(2)}
                    </td>
                </tr>
		))}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" class="px-6 py-4 text-right font-medium text-gray-900 dark:text-white">
                    Total
                </td>
                <td class="px-6 py-4 font-medium text-gray-900 dark:text-white">
                    ${order.reduce((acc: number, {total_price}: {total_price: number}) => acc + total_price, 0).toFixed(2)}
                </td>
            </tr>
        </tfoot>
    </table>
    <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">What is your name?</span>
          <span class="label-text-alt">Top Right label</span>
        </div>
        <input type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
        <div class="label">
          <span class="label-text-alt">Bottom Left label</span>
          <span class="label-text-alt">Bottom Right label</span>
        </div>
      </label>
    
</div>
<button class="px-4 py-2 mt-4 text-white bg-blue-500 rounded hover:bg-blue-600">
    Enviar ticket
</button>


